.grid-img-container{
    width: 100%;
    min-height: 100%;
    aspect-ratio: 1/1; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;  
}

.grid-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.7);
}

.grid-img-container:hover{
    transform: scale(1.02);
}

.grid-img-title{
    position: relative;
    top: -30%;
    color: white; 
    left: 2%;
    font-size: var(--step-0);
    font-weight: 500;
    margin: 0px;
    width: 90%;
    cursor: pointer;

}



@media screen and (min-width:1440px) {
    .grid-img-title{
        font-size: var(--step-1);
    }
}

@media screen and (min-width:550px) and (max-width:900px) {
    .grid-img-title{
        font-size: var(--step--1);
    }
    
}


@media screen and (max-width:550px) {
    .grid-img-title{
        font-size: var(--step-1);
    }
    .grid-img-container{
        min-height: 255px;
    }

}





